# quartus files
db
incremental_db
hc_output
output_files
*.ipinfo
*.qsf
*.qws
*.bak
c5_pin_model_dump.txt
greybox_tmp

# qsys
.qsys_edit
*.rpt
*.bsf
*.html
*.sopcinfo
*.tcl*
*.cmp
nios_system/*

# nios software folder
software/*

# modelsim working dir
work
*.wlf

# other
*.old
